    <h2>Summary</h2>
    <p>{{src.en.summary}}</p>

    {%- if src.en.description != "__empty__" %}
    <h2>Description</h2>
    <p>{{src.en.description | replace('\n', '<br>') | safe}}</p>
    {%- endif %}

    <h2>Supported In</h2>
    {%- if src.supported_in.values() | select | first%}
    <p>This requirement is verified in following services</p>

    <table style="border-collapse: collapse;">
      <tr>
        <th style="border: 1px solid black; padding: 8px;">Plan</th>
        <th style="border: 1px solid black; padding: 8px;">Supported</th>
      </tr>
      <tr>
        <td style="border: 1px solid black; padding: 8px;">
          <a href="https://fluidattacks.com/services/continuous-hacking/">Essential</a>
        </td>
        <td style="border: 1px solid black; padding: 8px;">
          {%if src.supported_in.essential%}🟢{%else%}🔴{%endif%}
        </td>
      </tr>
      <tr>
        <td style="border: 1px solid black; padding: 8px;">
          <a href="https://fluidattacks.com/services/continuous-hacking/">Advanced</a>
        </td>
        <td style="border: 1px solid black; padding: 8px;">
          {%if src.supported_in.advanced%}🟢{%else%}🔴{%endif%}
        </td>
      </tr>
    </table>
    {%- endif %}

    <h2>References</h2>
    <ul>
    {%- for reference in src.references %}
    {%- set standard_id=reference.split(".")[0]%}
    {%- set definition_id=reference.split(".")[1]%}
    {%- set standard=compliance[standard_id]%}
    {%- set definition=standard.definitions[definition_id]%}
    <li><a href="criteria-compliance-{{standard_id}}">{{standard.title}}-{{definition_id}}. {{definition.title}}</a></li>
    {%- endfor%}
    </ul>

    <h2>Vulnerabilities</h2>
    <ul>
    {%- for vulnerability_id, vulnerability_title in vulnerabilities %}
      <li><a href="criteria-vulnerabilities-{{ vulnerability_id }}">{{ vulnerability_id }}.{{ vulnerability_title }}</a></li>
    {%- endfor %}
    </ul>
    {% include 'layouts/components/footer.html' %}
