html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.exposed-over-time-cvssf-area {
  opacity: 1 !important;
  fill: #fda6ab !important;
}

.exposed-over-time-cvssf-line {
  stroke-width: 3px !important;
}

.exposureTrendsByCategories {
  fill: #8f8fa3 !important;
}

.exposedOverTime {
  fill: #2e2e38 !important;
}

.bb svg {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #8f8fa3;
}

.bb-legend-item text {
  font-size: 14px;
  fill: #8f8fa3;
}

.bb-axis-y-label,
.bb-axis-x-label,
.tick text {
  fill: #8f8fa3;
}
.bb line,
.bb path {
  stroke: #8f8fa3;
}

.bb-text {
  transform: translate(0, 15px);
  fill: white !important;
}

.bb-axis-y-label,
.bb-axis-x-label,
.tick a {
  text-decoration: underline;
}
