<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  integrity="sha256-+N8aiE9iqKu3dCjYE9JEXbhdxu4zVWmVhy2RRpJKsd8="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
  integrity="sha256-RpOhR06Me43bMKGIMcQ1RL7E69sGmak2736wi1AuRIs="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
  integrity="sha256-wSBbzVE88k5b02v6xJ/GgBUbfSLrY/xi4ODH9NDzz4E="
  crossorigin="anonymous"
/>
<!-- NOFLUID -->
<script
  defer
  src="https://kit.fontawesome.com/e60c73ff75.js"
  crossorigin="anonymous"
></script>
<body>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
		<defs>
			<linearGradient id="gradient-01" gradientTransform="rotate(-45)">
				<stop stop-color="#F32637"/>
				<stop offset="1" stop-color="#B8075D"/>
			</linearGradient>

			<linearGradient id="gradient-02" gradientTransform="rotate(90)">
				<stop stop-color="#667085"/>
				<stop offset="1" stop-color="#FCFCFD"/>
			</linearGradient>
		</defs>
	</svg>
</body>
<style>
	body {
		position: relative;
		font-family: "Roboto", sans-serif;
	}
	p {
		color: #2e2e38;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
	}
	h1,
	h2,
	h3,
	h4 {
		color: #2e2e38 !important;
		font-family: "Poppins", sans-serif !important;
	}
	.cards-container {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
	}
	.card {
		padding: 20px;
		border-radius: 16px;
		border: 1px solid #d0d5dd;
	}
	.card > h3 {
		color: #212a36 !important;
		font-size: 24px !important;
	}
	.card > h4 {
		color: #475467 !important;
		font-family: "Roboto", sans-serif !important;
		font-size: 20px !important;
	}
	.card > button {
		cursor: pointer;
		border: 0;
		background: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 6px 4px;
		font-family: "Roboto", sans-serif !important;
		text-decoration: underline;
		font-size: 16px !important;
	}
	.card > button a p {
		font-weight: 700;
		color: #2f394b !important;
		margin: 0;
		margin-right: 10px;
	}
</style>
