<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__() %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico').__str__() | replace('http', 'https') }}"
    />
    {% endif %}
    <title>Platform | Fluid Attacks</title>

    <link rel="stylesheet" />
    {% if 'https' in url_for('static',
    path='/styles/otp_verification.css').__str__() %}
    <link
      href="{{ url_for('static', path='/styles/otp_verification.css') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% else %}
    <link
      href="{{ url_for('static', path='/styles/otp_verification.css').__str__() | replace('http', 'https') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% endif %}
  </head>

  <body>
    <div class="flex-container">
      <!-- send otp modal -->
      <div id="otp-modal" class="card">
        <div class="image-container">
          {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__()
          %}
          <img
            src="{{ url_for('static', path='/imgs/logoFluid.png') }}"
            alt="icon"
          />
          {% else %}
          <img
            src="{{ url_for('static', path='/imgs/logoFluid.png').__str__() | replace('http', 'https') }}"
            alt="icon"
          />
          {% endif %}
        </div>
        <form action="/verify_otp" method="post">
          <div class="header">
            <h3>Enter verification code</h3>
            <h6>For your security, we first need to verify your identity</h6>
            {% if show_alert %}
            <div class="alert">Authentication failed. Please retry</div>
            {% endif %}
          </div>
          <div class="otp-container">
            {% if channel|upper != "EMAIL" %}
            <p>
              Please enter the
              <strong>{{ channel }}</strong> code sent to your cell phone {{ phone_number }}
            </p>
            {% else %}
            <p>
              An <strong>email</strong> with a verification code was just sent
              to <strong>{{ user_email }}</strong>
            </p>
            {% endif %}
            <div class="otp-input-container">
              {% for index in range(6) %}
              <input
                type="text"
                maxlength="1"
                name="otp{{ index }}"
                class="otp-input"
                required
                inputmode="numeric"
                pattern="[0-9]"
                tabindex="{{ index + 1 }}"
              />
              {% endfor %}
            </div>
          </div>
          {% if channel|upper == "EMAIL" %}
          <p class="secondary-alert">
            <strong>Have you not received the email with the OTP?</strong>
            Please, check your spam or junk folder.
          </p>
          {% endif %}
          <div class="details-container">
            <input type="checkbox" id="trusted_device" name="trusted_device" />
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="check"
              class="svg-inline--fa fa-check"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
              ></path>
            </svg>
            <p for="trusted_device">
              I trust this device. Don't ask code for 180 days
            </p>
          </div>
          <div class="button-container row">
            {% if phone_number %}
            <button class="button secondary-button" id="try-another-way">
              Try another way
            </button>
            {% endif %}
            <button
              id="email-verify-submit"
              class="button primary-button"
              type="submit"
              name="verify"
              value="True"
            >
              Verify code
            </button>
          </div>
        </form>
      </div>
      <!-- channel otp modal -->
      <div id="method-modal" class="card hidden">
        <div class="image-container">
          {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__()
          %}
          <img
            src="{{ url_for('static', path='/imgs/logoFluid.png') }}"
            alt="icon"
          />
          {% else %}
          <img
            src="{{ url_for('static', path='/imgs/logoFluid.png').__str__() | replace('http', 'https') }}"
            alt="icon"
          />
          {% endif %}
        </div>
        <form action="/verify_otp" method="post">
          <div class="header">
            <h3>Enter verification code</h3>
            <h6>For your security, we first need to verify your identity</h6>
          </div>
          <div class="otp-container">
            <p>
              Please select the channel through which you wish to receive the
              code:
            </p>
            <div class="button-container">
              <button
                id="channel-submit"
                class="button outline-button"
                type="submit"
                name="channel"
                value="EMAIL"
              >
                <div class="button-channel-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="1em"
                  >
                    <!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
                    />
                  </svg>
                  <p>Email</p>
                </div>
              </button>
              <button
                id="channel-submit"
                class="button outline-button"
                type="submit"
                name="channel"
                value="WHATSAPP"
              >
                <div class="button-channel-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    height="1em"
                  >
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                    />
                  </svg>
                  <p>WhatsApp</p>
                </div>
              </button>
              <button
                id="channel-submit"
                class="button outline-button"
                type="submit"
                name="channel"
                value="SMS"
              >
                <div class="button-channel-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="1em"
                  >
                    <!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M208 416c0-26.5-21.5-48-48-48H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H448c8.8 0 16 7.2 16 16V352c0 8.8-7.2 16-16 16H309.3c-10.4 0-20.5 3.4-28.8 9.6L208 432V416zm-.2 76.2l.2-.2 101.3-76H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h48 48v48 4 .3 6.4V496c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L202.7 496l5.1-3.8zM96 180.8c0 12.3 6.2 23.8 16.4 30.7l29.4 19.6c1.3 .9 2.2 2.4 2.2 4c0 2.7-2.2 4.8-4.8 4.8H112c-8.8 0-16 7.2-16 16s7.2 16 16 16h27.2c20.3 0 36.8-16.5 36.8-36.8c0-12.3-6.2-23.8-16.4-30.7l-29.4-19.6c-1.3-.9-2.2-2.4-2.2-4c0-2.7 2.2-4.8 4.8-4.8H152c8.8 0 16-7.2 16-16s-7.2-16-16-16H132.8C112.5 144 96 160.5 96 180.8zM372.8 144c-20.3 0-36.8 16.5-36.8 36.8c0 12.3 6.2 23.8 16.4 30.7l29.4 19.6c1.3 .9 2.2 2.4 2.2 4c0 2.7-2.2 4.8-4.8 4.8H352c-8.8 0-16 7.2-16 16s7.2 16 16 16h27.2c20.3 0 36.8-16.5 36.8-36.8c0-12.3-6.2-23.8-16.4-30.7l-29.4-19.6c-1.3-.9-2.2-2.4-2.2-4c0-2.7 2.2-4.8 4.8-4.8H392c8.8 0 16-7.2 16-16s-7.2-16-16-16H372.8zm-152 6.4c-4.1-5.5-11.3-7.8-17.9-5.6S192 153.1 192 160v96c0 8.8 7.2 16 16 16s16-7.2 16-16V208l19.2 25.6c3 4 7.8 6.4 12.8 6.4s9.8-2.4 12.8-6.4L288 208v48c0 8.8 7.2 16 16 16s16-7.2 16-16V160c0-6.9-4.4-13-10.9-15.2s-13.7 .1-17.9 5.6L256 197.3l-35.2-46.9z"
                    />
                  </svg>
                  <p>SMS</p>
                </div>
              </button>
            </div>
          </div>
        </form>
        <button class="button custom-button" id="go-back">Go back</button>
      </div>
    </div>
  </body>
</html>

{% if 'https' in url_for('static', path='/js/otp_verification.js').__str__() %}
<script src="{{ url_for('static', path='/js/otp_verification.js') }}"></script>
{% else %}
<script src="{{ url_for('static', path='/js/otp_verification.js').__str__() | replace('http', 'https') }}"></script>
{% endif %}
