<p>This section consists of security standards, regulations and requirements that are known, used and implemented internationally in different types of organizations.</p>
<h2>Index</h2>
<ul>
    {%- for key, value in compliance.items() %}
    <li><a href="criteria-compliance-{{key}}">{{value.title}}</a></li>
    {%- endfor %}
</ul>
{% include 'layouts/components/footer.html' %}
