<p>This is a standardization of the set of <strong>vulnerabilities</strong> that serve as a basis for the security analysis performed by Fluid Attacks. This is an ever-evolving effort as new types arise every day.</p>

<h2>Index</h2>
{%- for category, vulnerability_ids in categorized | dictsort %}
<div style="margin-top: 20px;">
    <h3>{{ category }}</h3>
    <ul style="list-style-type: none; padding-left: 0;">
    {%- for vulnerability_id in vulnerability_ids | sort %}
        <li style="margin: 5px 0;">
            <a href="criteria-vulnerabilities-{{ vulnerability_id }}" style="text-decoration: none; color: #0366d6;">
                {{ vulnerability_id }}. {{ vulnerabilities[vulnerability_id].en.title }}
            </a>
        </li>
    {%- endfor %}
    </ul>
</div>
{%- endfor %}
{% include 'layouts/components/footer.html' %}
