---
import type { Props } from '@astrojs/starlight/props';
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
import { Aside } from '@astrojs/starlight/components';
---

{Astro.props.slug.startsWith("components/") ? (
  <Aside type="tip">
    Have an idea to simplify our architecture or noticed docs that could use some love?
    Don't hesitate to <a href="https://gitlab.com/fluidattacks/universe/-/issues/new">open an issue</a> or submit improvements.
  </Aside>
) : undefined}
<DefaultFooter {...Astro.props} />
