<!--
 *  Copyright (c) 2021 GraphQL Contributors
 *  All rights reserved.
 *
 *  This source code is licensed under the license found in the
 *  LICENSE file in the root directory of this source tree.
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"
    />
    <meta
      name="description"
      content="Fluid Attacks' API works based on GraphQL and allows our users to make requests to create, modify, delete and retrieve data."
    />
    <title>{{ title }}</title>
    <style>
      body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow: hidden;
      }

      #graphiql {
        height: 100vh;
      }

      #graphiql-loading {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #545454;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: bold;
      }
    </style>
    <!-- NOFLUID -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/graphiql@3.0.6/graphiql.min.css"
    />
    {% if enable_explorer_plugin %}
    <!-- NOFLUID -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@graphiql/plugin-explorer@0.3.5/dist/style.css"
    />
    {% endif %}

    <link
      rel="shortcut icon"
      href="https://res.cloudinary.com/fluid-attacks/image/upload/v1677159785/docs/favicon-2023.png"
    />
  </head>

  <body>
    <div id="graphiql">
      <div id="graphiql-loading">Loading {{ title }}...</div>
    </div>

    <script
      crossorigin="anonymous"
      src="https://unpkg.com/react@18.3.0/umd/react.production.min.js"
      integrity="sha256-bXSdH8Hva6tpBVPC2bjOh6S/BwZSyU9qWske3QljGhQ="
    ></script>
    <script
      crossorigin="anonymous"
      src="https://unpkg.com/react-dom@18.3.0/umd/react-dom.production.min.js"
      integrity="sha256-VVZzRPJ5lh5M0u96jwBlWh/j0MAaV3jB24aGutDwDC8="
    ></script>

    <script
      crossorigin="anonymous"
      src="https://unpkg.com/graphiql@3.0.6/graphiql.min.js"
      integrity="sha256-eNxH+Ah7Z9up9aJYTQycgyNuy953zYZwE9Rqf5rH+r4="
    ></script>

    {% if enable_explorer_plugin %}
    <script
      crossorigin="anonymous"
      src="https://unpkg.com/@graphiql/plugin-explorer@0.3.5/dist/index.umd.js"
      integrity="sha256-CD435QHT45IKYOYnuCGRrwVgCRJNzoKjMuisdNtso4s="
    ></script>
    {% endif %}

    <script>
      var fetcher = GraphiQL.createFetcher({
        url: window.location.href,
        {% if subscription_url %}
        subscriptionUrl: "{{ subscription_url }}",
        {% else %}
        subscriptionUrl: (window.location.protocol === "https:" ? "wss" : "ws") + "://" + window.location.host + window.location.pathname,
        {% endif %}
      });

      function AriadneGraphiQL() {
        var [query, setQuery] = React.useState(
          '{% raw default_query %}',
        );
        {% if enable_explorer_plugin %}
        var explorerPlugin = GraphiQLPluginExplorer.explorerPlugin();
        {% endif %}
        return React.createElement(GraphiQL, {
          fetcher: fetcher,
          defaultEditorToolsVisibility: true,
          {% if enable_explorer_plugin %}
          plugins: [explorerPlugin],
          {% endif %}
          query: query,
          onEditQuery: setQuery,
        });
      }

      ReactDOM.render(
        React.createElement(AriadneGraphiQL),
        document.getElementById('graphiql'),
      );
    </script>
  </body>
</html>
