{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('Group Added') }}
<mj-section padding="0px 10px 0px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello Projects,</mj-text>
    <mj-text>
      You are receiving this email because a group has been created
      through Fluid Attacks platform by
      <strong><a href="mailto:{{ responsible }}" target="_blank" rel="noopener noreferrer">
          {{ responsible -}}
        </a></strong>.
    </mj-text>
    <mj-text>
      Here are the details of the group:
    </mj-text>
  </mj-column>
</mj-section>
<mj-wrapper background-color="#fff" padding="25px">
  <mj-section background-color="#f4f4f6" border-radius="5px">
    <mj-column background-color="#f4f4f6">
      <mj-text>
        <strong>Name:</strong> {{ group_name }}<br/><br/>
        <strong>Description:</strong> {{ description }}<br/><br/>
        <strong>Type:</strong> {{ type }}<br/><br/>
        <strong>Service:</strong> {{ service }}<br/><br/>
        <strong>Organization:</strong> {{ organization }}<br/><br/>
        <strong>Advanced:</strong> {{ advanced }}<br/><br/>
        <strong>Essential:</strong> {{ essential }}
      </mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
