{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share, go_to_button %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('Services Updated') }}
<mj-section padding="0px 10px 0px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello {{ name }},</mj-text>
    <mj-text>
      Services in the group <strong>{{ group_name }}</strong>
      from the organization <strong>{{ org_name }}</strong>
      have been updated by
      <strong><a
        href="mailto:{{ responsible }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ responsible -}}
      </a></strong>:
    </mj-text>
  </mj-column>
</mj-section>
<mj-wrapper background-color="#fff" padding="25px">
  <mj-section background-color="#f4f4f6" border-radius="5px">
    <mj-column background-color="#f4f4f6">
      <mj-text>
        <strong>Date:</strong><br/>{{ report_date }}<br/>
        {% for key, value in group_changes.items() %}
          {% if key not in ["Name", "ARM"] %}
        <br/>
        <strong>{{ key }}:</strong><br/>
            {% if key in ["Comments", "Reason"] %}
        {{ value }}<br/>
            {% else %}
              {% if value["from"] == value["to"] %}
        {{ value["to"] }}<br/>
              {% else %}
        <em>from</em> {{ value["from"] }}
        <em>to</em> {{ value["to"] }}<br/>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>
<mj-section padding="0px 10px 24px 10px">
  <mj-column>
    {{- go_to_button('Go to policies', policies_link, 'primary-button') }}
  </mj-column>
</mj-section>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
