<mj-section padding="0px">
  <mj-column>
    <mj-image
      src="https://res.cloudinary.com/fluid-attacks/image/upload/v1708992960/integrates/login/loginLogoExtended.png"
      padding="40px 48px 20px 48px"
      alt="fluid attacks logo"
      width="200px"
      align="left"
    />
  </mj-column>
</mj-section>
